* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  background-color: rgb(235, 235, 235);
  height: 50px;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(31, 30, 30);
  font-weight: bolder;
}

nav {
  background-color: rgb(219, 219, 219);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
ul {
  padding-right: 3vw;
}

i {
  font-size: 20px;
  font-weight: 700;
  display: inline;
}

li {
  display: inline;
  padding: 8px;
}

li:hover {
  background-color: rgb(187, 187, 187);
}

a {
  text-decoration: none;
  color: black;
}

main {
  height: calc(100% - 200px);
  background-color: #bbb;
}

.title {
  text-align: center;
  padding-bottom: 20px;
}

.form {
  width: 100vw;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbb;
}

form {
  height: 200px;
  width: 40%;
  margin-top: -200px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

input[type="submit"] {
  border-radius: 5px;
  border: 2px solid black;
  font-weight: 600;
  align-items: end;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

footer {
  background-color: rgb(224, 224, 224);
  height: 50px;
}

@media (max-width: 600px) {
  li {
    background-color: aqua;
    color: bisque;
    display: none;
  }

  i {
    display: block;
  }
}

/* @media (min-width: 600px) {
  i {
    display: none;
  }
} */
